@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Kalam', cursive;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-size: 6.5em;
    padding-top: 40px;
    font-weight: bold;
}

header > p {
    padding-bottom: 40px;
    font-size: 1.2em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main > section {
    padding: 70px 30px 70px 30px;
}

main > section > p {
    font-size: 3em;
}

main > section.img1 {
    background: white url(../imagens/img1.jpeg) center center no-repeat fixed; /*color - image - position - repeat - [size] - attachment*/
    background-size: contain;
    color: white;
}

main > section.img1 > p {
    background-color: #5c605588;
    width: fit-content;
    padding: 5px;
}

main > section.img2 {
    background: white url(../imagens/img2.jpeg) center center no-repeat fixed; /*color - image - position - repeat - [size] - attachment*/
    background-size: contain;

    color: white;
}

main > section.img2 > p {
    background-color: #5c605588;
    width: fit-content;
    padding: 5px;
}

main > section.img3 {
    background: white url(../imagens/img3.jpeg) center center no-repeat fixed; /*color - image - position - repeat - [size] - attachment*/
    background-size: contain;

    color: white;
}

main > section.img3 > p {
    background-color: #5c605588;
    width: fit-content;
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}